/*
body {
	position: relative;
	width: 100%;
	overflow-x: hidden;
	padding: 0;
	margin: 0;
}
*/

h1 {
	margin: 5px;
	font-size: 18px;
}

#pro {
	position: absolute;
	top: 0;
	right: 0;
	color: gray;
	margin: 5px;
	font-size: 11px;
}

#meals > img {
	display: block;
	width: 24px;
	margin: 0 auto;
}

ul {
	list-style: none;
	padding: 0;
}

li {
	position: relative;
	border: 5px solid #7D6D5B;
	margin-bottom: 5px;
	padding: 5px;
	overflow: hidden;
	background: url(/img/ardoise.jpg);
	border-radius: 8px;
}

li:hover {
	transform: rotate(0deg) !important;
	-webkit-transform: rotate(0deg) !important;
	transition: transform 0.2s;
	-webkit-transition: -webkit-transform 0.2s;
}

li > a {
	overflow: auto;
	display: block;
	border: none;
	text-decoration: none;
}

.thumb {
	float: left;
	width: 60px;
	height: 60px;
	background-size: cover;
	margin-right: 10px;
	border-radius: 8px;
}

.meal {
	font-family: 'Cookie', cursive;
	/*font-weight: bold;*/
	font-size: 24px;
	color: white;
}

.restaurant {
	font-size: 14px;
	color: white;
}

.distance {
	font-size: 14px;
	color: white;
	font-weight: bold;
}

.price {
	position: absolute;
	top: 5px;
	right: 5px;
	color: #fdd;
}